<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/login.css">
</head>
<body>
	
	<div class="container">
		<h1>Infinity Wars</h1>
		<div class="form-holder">
			
			<div class="input-holder">
				<form method="post" action="/login/check">
					<input type="email" placeholder="Email" name="email">
					<br>
					<input type="password" placeholder="Password" name="password">
					<br>
					<button type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../javascripts/jquery.js"></script>
<script type="text/javascript" src="../javascripts/script.js"></script>
</html>