<!DOCTYPE html>
<html>
<head>
	<title>Cryptoss | Infinity Wars</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/play.css">
</head>
<body>	
	<nav>
		Infinity Wars
		<button id="rules">Rules</button>
	</nav>
	<div class="questions_area">		
	</div>
	<div class="question_area">
		<div class="question_text">
			
		</div>		
		<input type="text" placeholder="Answer Here" id="answer">
		<br>
		<button id="submit-answer">Answer!</button>
	</div>
	
</body>
<script type="text/javascript" src="../javascripts/jquery.js"></script>
<script>
	$(document).ready(function(){
		$.ajax({
			url : '/getquestions/',
			type : 'post',
			dataType : 'json',
			success : function(data) {
				$.each(data,function(k,v){
					$(".questions_area").append('<div class="question">' + v.qno + '</div>');
				});
			}
		});

		$(document).on("click",".question",function(){
			$("#answer").hide();
			$("#submit-answer").hide();
			var qno = $(this).text();
			$(".question").removeClass('active');
			$(this).addClass('active');
			$.ajax({
				url : '/getquestion/',
				type : 'post',
				data : 'qno=' + qno,
				dataType : 'json',
				success : function(data) {
					if(data.status == "locked")	
						$(".question_text").html("This question is locked. Please answer question " + data.answer + " to unlock this question.");
					else
					{
						$(".question_text").html(data[0].question);					
						$("#answer").fadeIn();
						$("#submit-answer").fadeIn();
					}
				}
			});
		});

		$(document).on("click","#submit-answer",function(){
			var answer = $("#answer").val();
			$.ajax({
				url : '/checkanswer/',
				type : 'post',
				data : 'answer=' + answer,
				dataType : 'json',
				success : function(data) {
					if(data.status == "true")
						alert("Correct answer");
					else
						alert("Wrong answer");
				}
			});
		});
		$(document).on("click","#rules",function(){
			$("#answer").hide();
			$("#submit-answer").hide();
			$(".question_text").html('<h1>Rules</h1><ol><li>You are provided with eight sets of questions.</li><li>Each set has two questions.</li><li>First question of the set has to be answered to unlock the second question.</li><li>In the textbox, only the output has to be entered.</li></ol>');
		})
	});
</script>
</html>